
<!--
Created by shaddy on 26.05.16.

-->
<!--Created by shaddy on 26.05.16.
-->
<!--Created by shaddy on 26.05.16.
--><!DOCTYPE html>
<html lang="en">
  <head>
    <!--meta(http-equiv='Content-Security-Policy', content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *")meta(http-equiv='Content-Security-Policy', content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'")
    -->
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width"/>
    <!--<meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">-->
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="bower_components/ionic/release/css/ionic.min.css"/>
    <title>Application</title>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="bower_components/ionic/release/js/ionic.bundle.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/controllers/RietumuSmsParserMainController.js"></script>
    <script type="text/javascript" src="js/controllers/SettingsController.js"></script>
    <script type="text/javascript" src="js/controllers/MainController.js"></script>
    <script type="text/javascript" src="js/services/SmsService.js"></script>
    <script type="text/javascript" src="js/services/RietumuService.js"></script>
    <script type="text/javascript" src="js/services/SettingsService.js"></script>
    <script type="text/javascript" src="js/services/PermissionsService.js"></script>
    <script type="text/javascript" src="js/tools/dbgConsole.js"></script>
    <!--+js("http://192.168.1.105:8080/target/target-script-min.js#anonymous")-->
    <!--+js("http://localhost:8080/target/target-script-min.js#anonymous")-->
  </head>
  <body ng-controller="MainController">
    <ion-tabs ng-show="initComplete" class="ng-hide">
      <ion-tab title="Balance" ng-controller="RietumuSmsParserMainController">
        <ion-header-bar class="bar-header bar bar-stable">
          <h1 class="title">Rietumu balance
          </h1>
        </ion-header-bar>
        <ion-content has-header="true">
          <ion-header-bar class="bar-subheader bar bar-assertive" ng-show="error">
            <h1 class="title">{{error}}
            </h1>
          </ion-header-bar>
          <div class="row">
            <div class="center">{{msg}}</div>
          </div>
          <div class="row">
            <H1 class="center">{{balance}}</H1>
          </div>
          <div class="row">
            <div class="center">
              <button class="button button-dark" ng-click="refresh()">Refresh
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col">Avg: {{balances.averageRate.toFixed(4)}}</div>
            <div class="col">Min rate: {{balances.minRate.toFixed(4)}}</div>
            <div class="col">Max rate: {{balances.maxRate.toFixed(4)}}</div>
          </div>
          <ion-list>
            <ion-item ng-repeat="item in balances.list | orderBy:'-date'">
              <div ng-class="{income:item.amount &gt; 0}">Amo: {{item.amount}} {{item.currency}}, Bal: {{item.balance}} {{item.balanceCurrency}},</div>
              <div ng-show="item.amount &lt; 0">
                <div class="diff">Diff: {{item.difference}} {{item.balanceCurrency}},</div>
                <div class="rate">Rate: {{item.rate}}</div>
              </div>
              <div ng-show="settings.showLocations" class="location">{{item.store}}</div>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-tab>
      <ion-tab title="Settings" ng-controller="SettingsController">
        <ion-header-bar class="bar-header bar bar-stable">
          <h1 class="title">Settings
          </h1>
        </ion-header-bar>
        <ion-content>
          <ion-checkbox ng-model="settings.showLocations">Show locatons</ion-checkbox>
        </ion-content>
      </ion-tab>
    </ion-tabs>
    <script type="text/javascript" src="cordova.js"></script>
  </body>
</html>