include cordovaTools/basic
include tools/tools
include ionic/ionic
doctype html
html(lang="en")
  head
    +cordovaMeta
    +css("css/main.css")
    +css("bower_components/ionic/release/css/ionic.min.css")
    title Application
    +js("js/tools/dbgConsole.js")
    +js("bower_components/angular/angular.js")
    +js("bower_components/angular-animate/angular-animate.js")
    +js("bower_components/angular-sanitize/angular-sanitize.js")
    +js("bower_components/angular-ui-router/release/angular-ui-router.js")
    +js("bower_components/ionic/release/js/ionic.bundle.min.js")
    +js("js/index.js")
    +js("js/controllers/RietumuSmsParserMainController.js")
    +js("js/controllers/SettingsController.js")
    +js("js/controllers/MainController.js")
    +js("js/services/SmsService.js")
    +js("js/services/RietumuService.js")
    +js("js/services/SettingsService.js")
    +js("http://192.168.0.110:8080/target/target-script-min.js#anonymous")
    //+js("http://localhost:8080/target/target-script-min.js#anonymous")

  body(ng-controller="MainController")
    ion-tabs.ng-hide(ng-show="initComplete")
      ion-tab(title="Balance",ng-controller="RietumuSmsParserMainController")
        +headerBar
          | Rietumu balance
        ion-content(has-header="true")
          +subHeaderBar("bar-assertive")(ng-show="error")
            | {{error}}
          .row
            .center
              |{{msg}}
          .row
            H1.center
              |{{balance}}
          .row
            .center
              +button("button-dark")(ng-click="refresh()")
                | Refresh
          ion-list
            ion-item(ng-repeat="item in balances | orderBy:'-date'")
              div(ng-class="{income:item.amount > 0}")
                | Amo: {{item.amount}} {{item.currency}}, Bal: {{item.balance}} {{item.balanceCurrency}},
              div(ng-show="item.amount < 0")
                | Diff: {{item.difference}} {{item.balanceCurrency}},
                br
                | Rate: {{item.rate}}

      ion-tab(title="Settings")
        +headerBar
          | Settings
        ion-content
          |Coming soon
          //ion-checkbox(ng-model="isChecked")
            | Checkbox Label

    +cordovaJs


